<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= board.email %>
  </p>

  <p>
    <strong>Generated Board:</strong>
  </p>
  
  <div>
    <% JSON.parse(board&.mine).each_with_index do |sub_array, index| %>
      <% sub_array.each_with_index do |item, i| %>
        <% if item == 0 %>
          <i class="fa-sharp fa-solid fa-square fa-lg" style="color: #d7e0ef;"></i>
        <% else%>
          <i class="fa-solid fa-bomb fa-lg"></i>
        <% end%>
      <% end%>
      <br/>
    <% end%>
  </div>

</div>
