<div class="p-5">
  <p style="color: green"><%= notice %></p>

  <%= render @board %>
    
    <div class="mt-5">
      <%= link_to "Back to boards", boards_path, class: "btn btn-primary" %>
    </div>
</div>
